<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
	<div class="container">
		<div class="logo">GnatChat</div>
	</div>
	
	<script type="text/javascript" src="js/lib/bone.io.min.js"></script>
</body>
</html>